* {
    margin: 0;
    padding: 0;
}

:root {
    --color-azul: #2561e4;
    --color-branco: #fdfdfd;
    --color-preto: #13100f;
}

body {
    background-color: var(--color-branco);
    color: var(--color-preto);
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar,
.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-bar {
    background-color: var(--color-azul);
    padding: 0 10%;
    height: 3.8em;
    justify-content: space-between;
}

.bar {
    gap: 3.8em;
}

.bar a{
    text-decoration: none;
    color: var(--color-branco);
    transition: transform 300ms;
    font-weight: bold;
}
.bar a:hover{
    transform: rotateY(360deg);
}
.logo{
    display: flex;
    align-items: center;
    color: var(--color-branco);
    
}
.logo img{ 
    transition: transform 300ms;   
}
.trigger:hover .logo img{
    transform: rotateX(360deg) ;
}
.home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}
.home-page p{
    text-align: center;
    padding: 2em;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.calculadora{
    flex-direction: column;
}
.input{
    gap: 3.5em;
}